<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="insertBoard">
        insert
        into board(title, description, writer)
        values (#{title}, #{description}, #{writer})
    </insert>

    <select id="getBoardList" resultType="board">
        select * from board order by seq desc
    </select>

    <select id="getBoard" resultType="board">
        select * from board where seq = #{seq}
    </select>

    <delete id="deleteBoard">
        delete from board where seq=#{seq}
    </delete>

    <update id="editBoard">
        update board set title=#{title}, description=#{description}, writer=#{writer}
        where seq=#{seq}
    </update>

    <resultMap id="boardResult" type="board">
        <result property="seq" column="seq"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <collection property="comments" column="seq" javaType="java.util.ArrayList" ofType="comment" select ="getCommentListById" />
    </resultMap>

    <select id="getBoardById" resultMap="boardResult">
        select * from board where seq = #{seq}
    </select>

    <select id="getCommentListById" resultType="comment">
        select * from comment where board_seq = #{seq}
    </select>

</mapper>