<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">

    <insert id="insertFile">
        insert
        into file(original_filename, filename, board_seq, file_path)
        values (#{originalFilename}, #{filename}, #{boardSeq}, #{filePath})
    </insert>

</mapper>